@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    margin: 0;
    width: 100%;
    height: 100vh;
    color: white;
    font-family: 'Poppins', sans-serif;
    background: rgb(0, 110, 254);
}   

.gab{
    font-weight: 300;
    letter-spacing: 10px;
    text-shadow: 1.5px 1.5px gray;
    font-size: 3rem;
}

span{
    color: rgb(255, 91, 91);
}

.text-center{
    letter-spacing: 3px;
    text-shadow: 1.5px 1.5px gray;
}

.row{
    background: rgb(35, 35, 35);
    box-shadow: 4px 4px gray;
    height: 5pc;
    transition: 0.3s;
}

.row:hover{
    box-shadow: 7px 7px gray;
}

img{
    width: 3pc;
    height: 2.5pc;
}

a{
    height: 5pc;
    text-decoration: none;
}

.tw{
    color: white;
    letter-spacing: 3px;
    transition: 0.2s;
}

.tw:hover{
    letter-spacing: 10px;
    font-weight: bold;
    color: lightblue;
    text-decoration: 6px underline solid lightblue;
}

.ytb{
    color: white;
    letter-spacing: 3px;
    transition: 0.2s;
}

.ytb:hover{
    letter-spacing: 10px;
    font-weight: bold;
    color: rgb(255, 107, 107);
    text-decoration: 6px underline solid rgb(255, 107, 107);
}

.fb{
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
    transition: 0.2s;
}

.fb:hover{
    letter-spacing: 10px;
    font-weight: bold;
    color: rgb(47, 123, 255);
    text-decoration: 6px underline solid rgb(47, 123, 255);
}

.tt{
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
    transition: 0.2s;
}

.tt:hover{
    letter-spacing: 10px;
    font-weight: bold;
    color: rgb(96, 96, 96);
    text-decoration: 6px underline solid rgb(96, 96, 96);
}

.ig{
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
    transition: 0.2s;
}

.ig:hover{
    letter-spacing: 10px;
    font-weight: bold;
    color: rgb(255, 114, 114);
    text-decoration: 6px underline solid rgb(255, 114, 114);
}



.mx-xxl-5{
    margin-left: 11pc !important;
}

@media (max-width:660px){
    .box{
        margin-top: 2pc;
    }

    .row{
        width: 20pc;
        height: 4pc;
    }

    .row a{
        margin-top: -7px;
    }

    .mx-xxl-5{
        position: absolute;
        margin-left: 6.4pc !important;
    }
}

